<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Days index</h1>
      </div>
      <div>
        <% @days.each do |day| %>
          <%= link_to "#{day.name}", day_path(day.id) %> <br>
        <% end %>

        <%= link_to "Add new", new_day_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</section>
